  <div class="bg-white h-3/4 flex justify-center gap-1 w-full mx-auto my-5 relative" id="mediaWrapper">
    <video id="screen-share" class="w-5/12 h-3/4 my-auto flex" muted autoplay playsinline="true"></video>
    <video id="webcam" class="w-5/12 h-3/4 my-auto flex" muted autoplay playsinline="true" ></video>
    <video id="overlay" class="w-11/12 my-3 hidden" muted autoplay playsinline="true"></video>
    <button class="rounded-md absolute bottom-2 p-2 bg-slate-600 text-white w-2/6 items-center justify-center gap-2 mx-auto my-4 flex" data-screen-target="btnRecord" data-action="screen#enableRecording" id="start-recording">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
      </svg>
      Start Recording
   </button> 
   </div>